html {
	font-family:
		'Noto Sans CJK', 'Noto Sans CJK SC',
		'Source Han Sans', 'Source Han Sans SC',
		'XinGothic',
		'Hiragino Sans GB',
		'WenQuanYi Micro Hei',
		'Droid Sans',
		'Hei SC',
		'Microsoft Yahei',
		sans-serif;
	font-size: large;
	line-height: 1.5;
}
body {
	max-width: 780px;
	margin: 0.5em auto 3.5em;
	padding: 0.5em;
}
a {
	text-decoration: none;
}
